.hero {
  background-image: linear-gradient(135deg,#00d2eb 0,#0a95f3 100%);

  height: 85vh;
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);

  display: flex; 
  justify-content: center; 
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;

  &__logo {
    margin: 0%;
  }

  &__name {
    font-family: 'Nunito Sans';
    font-size: 5.2rem;
    color: #ffffff;
    margin-left: 10px;
  } 

  &__texto {
    font-family: 'Nunito Sans';
    font-size: 3rem;
    color: #ffffff;
    text-align: left;

  } 

}